
$theme-colors: (
  "primary": rgb(252, 84, 84),
  "secondary": #ecebeb,
  "success": #28a745,
  "info": #dbdbdb,
  "warning": #ffc107,
  "danger": #dc7235,
  "light": #f8f9fa,
  "dark": #343a40
);



/////////////////////
/// Theme Classes ///
/////////////////////

.background {
  background-color: map-get($theme-colors, primary);
  height: 100vh;
  width: 100vw;
  color: map-get($map: $theme-colors, $key: "light");
}

.btn-primary {
  background-color: map-get($theme-colors, primary);
  border-color: map-get($theme-colors, primary);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: darken(map-get($theme-colors, primary), 10%);
  border-color: darken(map-get($theme-colors, primary), 10%);
}

.btn-secondary {
  background-color: map-get($theme-colors, secondary);
  color: map-get($map: $theme-colors, $key: dark);
  border-color: map-get($theme-colors, secondary);
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: darken(map-get($theme-colors, secondary), 10%);
  border-color: darken(map-get($theme-colors, secondary), 10%);
}


.light-text {
  color: map-get($theme-colors, light);
}
