
$theme-colors: (
  "primary": rgb(252, 84, 84),
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc7235,
  "light": #f8f9fa,
  "dark": #343a40
);



/////////////////////
/// Theme Classes ///
/////////////////////

.background {
  background-color: map-get($theme-colors, primary);
  height: 100vh;
  width: 100vw;
  color: map-get($map: $theme-colors, $key: "light");
}

.btn-primary {
  background-color: map-get($theme-colors, primary);
  border-color: map-get($theme-colors, primary);
}

.btn-secondary {
  background-color: map-get($theme-colors, secondary);
  border-color: map-get($theme-colors, secondary);
}


.light-text {
  color: map-get($theme-colors, light);
}
